.col-md-4 {
    
    width: 15em;
    height: 10em;
    margin-top: 1em;
    margin-left: 3em;
    background-color: blue;

}

.row {

    margin-left: 2em;

}

.block {

    background-color: rgb(105, 11, 11);
    color: rgb(9, 240, 240);

}

.nappulat {

    margin-top: 1em;
    margin-left: 23.7em;

}

.otsikko {

    margin-left: 8em;

}
