.otsikko1 {
    font-style: italic;
}

.otsikko2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    font-size: 12px;
}

#highlight {
    color: rgb(173, 149, 149);
    text-shadow: 2px 2px #be1e1e;
}