
.nauta {

    margin-left: 8em;
    margin-top: 5em;
}

.row {

    border: 2px solid black;
}

.kuukausi {

    display: block;
    margin-left: 5em;
    margin-top: 1em;
    border: 2px solid black;
    width: 430px;
    text-align: center;
    position: relative;
    background-color: #4472c4;
    color: antiquewhite;
}
